.App {
  background-color: skyblue;
  min-height: 99.99vh;

  height: auto;
}
.App-header {
  align-items: right;
  justify-content: right;
  position:relative;
  margin-left: 85%;
  padding: 60px;
}
button{
  background-color: olive;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color:white;
  font-size: 18px;
  cursor: pointer;
}
.menu{
  background-color: olivedrab;
  height: 30px;
  position: relative;
  padding-right: 15px;
  padding-top: 8px;

}
textarea{
  width: 385px;
  height: 400px;
  border:none;
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}
.note{
  display: inline-block;
  width: 390px;
  height: 420px;
  text-align: right;
  position: relative;
  padding: 50px;
}
.fa{
  color: white;
  font-size: x-large;
  padding-right: 10px;
  cursor: pointer;
}